body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, #2DEEDF, #10ABE6, #004DDF, #00ADC5,#000000);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  .service {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }
  
  .service h2 {
    color: #fff;
  }
  
  .service p {
    color: #fff;
  }
  
  .service ul {
    list-style-type: none;
    padding: 0;
  }
  
  .service li {
    margin-bottom: 10px;
  }
  
  
    